.animeBox{
    border: darkorange 2px solid;
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 15rem;
    float: left;
}

.firstBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
}