.animeBox{
    border: black 0.2rem solid;
    display: flexbox;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 20rem;
    background-color: darkred;
    float: left;
    overflow: auto;
    word-wrap: break-word;
    font-family: Anime;
    color: white;
}

#desc{
    top: 0;
    left:0;
    overflow: auto;
}

#expand{
    background-color: orange;
    border: 1px black solid;
    border-radius: 2rem;
    width: 5rem;
}

#name{
    font-family: Anime;
    margin-bottom: 0px;
    float: left;
    color: white;
}

.info{
    float: right;
    width: 17rem;
    overflow: auto;
    color: white;
}

.image{
    height: 15rem;
}

.age{
    margin: none;
    color: white;
}

.status{
    margin: none;
    color: white;
}

.epicount{
    margin: none;
    color: white;
}

.epilength{
    margin: none;
    color: white;
}

.firstBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}