@font-face {
    font-family: 'Anime';
    src: url('../Util/animeace2_reg.ttf') format('truetype');
}

.pagebutton{
    margin-top: 5rem;
}

#catlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 0;
    overflow: hidden;
    background-color: darkred;
    border:#E34A0B 2px solid;
    position: fixed;
    width: 100%;
    left: 0;
    top: 3.25rem;
}



.pagebutton{
    background-color: darkred;
    border: 1px black solid;
    border-radius: 1rem;
    width: 11rem;
    text-align: center;
    align-items: center;
    margin-left: 42%;
}

.genre{
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: Anime;
    font-size: 10px;
}

